<div class="container">
  <div class="row">
    <div class="col-2">
      <img src="https://pbs.twimg.com/profile_images/855073776215654400/oGEOJ2JU_400x400.jpg" alt="Real Madrid" width="200px" height="200px">
    </div>
    <div class="col-8">
      <img src="https://cdn.shopify.com/s/files/1/0220/8120/collections/RealMadrid_CollectionBanner.png?v=1442786096" height="200px" width="700">
    </div>
    <div class="col-2">
      <div>
      <form>
        <input type="text">
        <input type="submit">
      </form>
    </div>
    </div>
  </div>
</div>