<!--<ul style="text-align: left">
    <li *ngFor="let country of countries">Pais: {{country.name}} Bandera: <img src="{{country.flag}}" width="100px" height="50"> Capital:{{country.capital}} </li>
</ul>-->

<table>
  <thead>
    <th>Pais</th>
    <th>Bandera</th>
    <th></th>
    <th>Capital</th>
  </thead>
  <tbody *ngFor="let country of countries">
  <tr>
    <td>{{country.name}}</td>
    <td><img src="{{country.flag}}" width="80px" height="50px"></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{country.capital}}</td>
  </tr>
</tbody>
</table>